.parent {
    font-family: 'Space Grotesk', sans-serif;
    padding: 4px;

    display: grid;
    /* gap: 20px;
    padding: 50px;
    border: 3px solid rgb(248, 6, 87);
    background-color: #101820;
    border-radius: 10px;
    margin: 5px; */

    grid-template-areas:
        "nav-bar  nav-bar  nav-bar  nav-bar nav-bar  nav-bar  "
        "AI_Dev AI_Dev AI_Dev AI_Dev AI_Dev AI_Dev "
    ;

}

.parent2 {
    font-family: 'Space Grotesk', sans-serif;
    padding: 4px;
    display: grid;

    grid-template-areas:
        "AIServices AIServices AIServices AIServices AIServices AIServices"
        "AIProvide AIProvide AIProvide AIProvide AIProvide AIProvide"
    ;
}

.parent3 {
    font-family: 'Space Grotesk', sans-serif;
    padding: 4px;
    display: grid;

    grid-template-areas:
        "Industries Industries Industries Industries Industries Industries"
        "Solutions Solutions Solutions Solutions Solutions Solutions"
    ;
}

.parent4 {
    font-family: 'Space Grotesk', sans-serif;
    padding: 4px;
    display: grid;

    grid-template-areas:
        "TechStack TechStack  TechStack  TechStack  TechStack  TechStack "
        "Process Process Process Process Process Process"
    ;
}

/* Class-Header */
.nav-bar {
    background-color: #000000;
    grid-area: nav-bar;
    box-shadow: 1px 2px #606060;
    color: white;
    padding: 10px;

}

.nav-item {
    display: inline;
    padding-right: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-item .nav-link {
    display: inline;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    float: right;

}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(80, 11, 231);
}

/* Class-nav */
.nav {
    background-color: rgb(163, 163, 163);
    grid-area: nav;
    border: 3px solid #FA003F;
    border-radius: 5px;
    box-shadow: 1px 2px #606060;
}

.AI_DivContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.AI_Dev {
    grid-area: AI_Dev;

}

.AiDevside {
    padding: 190px;
    background-image: linear-gradient(rgba(255, 199, 209, 0.631), white)
}

.AiDevside2 {
    width: 650px;
    height: 700px;
    float: right;
}

.DevButton {
    border-radius: 50px;
    background: var(--bg, linear-gradient(270deg, #F7931E 0%, #F15A24 100%));
    color: white;
    padding: 20px;
    text-decoration: none;

}

.DevButton:hover {
    background: var(--bg, linear-gradient(270deg, #d48121 0%, #ba4e26 100%));

}

.AIServices {
    grid-area: AIServices;
    background-color: white;
    text-align: center;
}

.AIProvide {
    grid-area: AIProvide;
    background-color: #002A59;
    text-align: center;
}

.supportImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .weCansupportimg{
    position: absolute;
} */
.divSupportTxt {
    position: relative;
    text-align: center;
}

.AIservicesText {
    padding: 0px 190px 0px 190px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.AIProvideText {
    padding: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.AIServicesFooter {
    color: #5A5A5A;
    font-size: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 40px;
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.AIProvideFooter {
    color: #5A5A5A;
    font-size: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 40px;
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.AIBoxmain {
    margin-left: 250px;
}

.AIBox {
    width: 390px;
    height: 419px;
    background: #FDFCF7;
    padding: 25px;
}

.AIBox>h1 {
    color: #000;
    font-size: 26px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AIBox>p {
    display: flex;
    width: 326.25px;
    flex-direction: column;
    flex-shrink: 0;
}

.AIDropDown>ul {
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.AIDropDown>ul>li {
    padding-left: 174px;
    padding-top: 30px;
    text-align: left;
    width: 603px;
    height: 56px;
}

.AIarrowImg {
    padding-right: 5px;
    width: 24px;
    height: 24px;
}

.AIarrowImg:hover {
    width: 50px;
    height: 50px;
}


/* .IndusSolContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

.Industries {
    grid-area: Industries;
    background-color: white;
    text-align: center;
}

.Solutions {
    grid-area: Solutions;
    background-color: #ffffff;
    text-align: center;

}

.IndustriesText {
    padding: 0px 190px 0px 190px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.IndustriesText>h1 {
    color: #000;
    text-align: center;
    font-size: 52px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.IndustriesText>p {
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.IndustriesText>h4 {
    color: #000;
    font-size: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}


.IndustryGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 25px 26px 21.7px 25px;
    text-align: center;
}

.fintech {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.IndText {
    color: #000;
    font-size: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.health {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.estate {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.logistics {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2px solid #000;
}

.education {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.travel {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.banking {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
    border-bottom: 0.2px solid #000;
}

.entertainment {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2px solid #000;
}

.food {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
}

.event {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
}

.ecommerce {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    border-right: 0.2px solid #000;
}

.integrated {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #F26624;
}

.IntegratedTxt {
    color: #FDFCF7;
    font-size: 16px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.poc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 26px 21.7px 25px;
    text-align: center;
}

.pinkGrid {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;

}

.sidePoc {
    display: inline-flex;
    padding: 23px 27px 21px 24px;
    justify-content: center;
    align-items: center;
}

.pinkContent {
    border-radius: 10px;
    background: rgba(247, 147, 30, 0.10);
    /* padding: 42px; */
    text-align: center;

}

.pinkContent>ul>li {
    list-style-type: none;
    margin: 20px;

    padding-right: 30px;
    padding-top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
}

.pinkContent>ul>li:hover {
    margin: 20px;
    padding-right: 30px;
    padding-top: 20px;
    background-color: #002A59;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.SidePocText {
    text-align: left;
    color: #000;
    font-size: 18px;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

i {
    border: dashed 2px;
    padding: 4px;
    border-radius: 50%;
}

i:hover {
    color: #FA003F;
    cursor: pointer;
}

.TechStack {
    grid-area: TechStack;
    background-color: white;
    text-align: center;
}

.Process {
    grid-area: Process;
    text-align: center;
    background: #002A59;
    color: white;
}

.ToolGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 20px;
    padding: 0px 180px 10px 180px;
    text-align: center;

}

.VisualImg {
    margin: 1px;
    padding: 1px;
    text-align: center;
}

.img1,
.img2,
.img3,
.img4 {
    display: inline-block;
    padding: 1rem 1rem;
}

.Visual {
    padding: 5px;
    border: 1px solid #F7931E;
}

.Language {
    padding: 2px;
    border: 1px solid #F7931E;
}

.Framework {
    padding: 2px;
    border: 1px solid #F7931E;
}

.ToolGrid2 {
    display: grid;
    grid-template-columns: 2fr 2.5fr 2fr;
    gap: 20px;
    padding: 0px 180px 10px 180px;
    text-align: center;

}

.Ptext {
    text-align: left;
    margin-left: 70px;
}

.DBMS {
    padding: 2px;
    border: 1px solid #F7931E;
}

.Cloud {
    padding: 2px;
    border: 1px solid #F7931E;
}

.ProcessGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 60px;
    text-align: center;
}

.ProcessSide>ul>li {

    background-position: 0 5px;
    line-height: 1.5625;
    padding: 0 0 4px 30px;
    margin-left: 1em;
}

.ProcessSide>ul {
    list-style-type: none;
}

.Numlist>ul>li {

    background-position: 0 5px;
    line-height: 1.5625;
    margin-left: 1em;
    list-style-type: none;
    padding-bottom: 132px;
}